*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

header{
    font-family: "Open Sans", sans-serif;
    background-color: #D9F6F3;
}

nav{
    display: flex;
    width: 70%;
    max-width: 1140px;
    margin: 0 auto;
    text-transform: capitalize;
    align-items: center;
    justify-content:space-between;
}
.menu{
    display: flex;
    font-weight: 400;
    font-size: 20px;
    align-items: center;
    gap: 50px;
}

.menu li a{
    color: #474747;
}


.logo{
    font-weight: 700;
    font-size: 45px;
}
.logo span{
    color: #00C6AE;
}

.btn{
    background-color: #00C6AE;
    color: #D9F6F3;
    font-weight: 700;
    font-size: 20px;
    padding:10px 20px;
    text-transform: capitalize;
    border-radius: 5px;
    border: none;
}